header {
  background-color: $tertiary;
}
header .wrapper{
  // display: flex;
  // margin:0;
  // justify-content: space-between;
  // align-items: center;
  // width:100%;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  width: 100%;

}
.headerImgContainer {
  width:48%;
  
}
.textContainer {
  width:48%;
}
// contact page header 
.contactHeader{
  background-color: $quaternary;
  padding-top: 120px;
}
.contactHeader .wrapper{
 flex-direction: column;
 margin: 0 auto;
 padding-bottom: 50px;
}
.contactHeader::after{
  content:'';
  width:100%;
  height:150px;
  background-image: url(../assets/wave.svg);
  background-size: 100% 150px;
  display: block;
  background-repeat: no-repeat;
}