.skip-link{
  position: absolute;
  left:-1000px;
  top:5px;
  background-color: $solidWhite;
  color: black;
  z-index:10;
  &:focus{
    left:0;
  }}
  //Announcemnets
  .announcements{
    text-align: center;
    padding: 10px 0;
  }
  // Nav bar
  .navBar{
    position: sticky;
    top:0;
    border-top: 1px solid rgba(8,75,109,0.08);
    border-bottom:1px solid rgba(8,75,109,0.08) ;
    background-color: $solidWhite;
    z-index: 10;
    // position: relative;
    .wrapper{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
    // input[type=checkbox]{
    //   opacity: 0;
    //   position: absolute;
    //   &:checked~ .slideOutNav{
    //    left:0;
    //   }
    // }
    .show{
      opacity: 0;
      position: absolute;
    }
  }
  
  .searchChart{
    display: flex;
    .menuIcon, .bag{
      margin-right: 15px;
    }
    // .menuIcon{
    //  background-color: transparent;
    //  border:none;
    // }
    .bag{
      display: flex;
    }
    .counter {
        display: flex;
        align-items: center;
        p {
          width: 24px;
          height: 24px;
          background-color:$primary;
          color: $solidWhite;
          text-align: center;
          border-radius: 50%;
        }
    }
  }
  //slide out nav 
  .slideOutNav{
    background-color: $primary;
    position:fixed;
    top:0;
    right:-100vw;
    height: 100vh;
    width:100%;
    max-width: 300px;
    color: $solidWhite;
    font-family:$headingFont;
    padding: 35px 50px;
    transition: 0.5s;
    z-index: 99;
  }
  .menuBtn{
    position: fixed;
    z-index: 100;
    top: 1.5rem;
    right: 1rem;
    padding: 4px;
    // border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  .close{
    display: none;
  }
  .showMenu{
    right:0;
  }
  
  .mainMenu {
    a {
      font-family:$headingFont ;
      font-size: 1.6rem;
      line-height:2.5rem;
      color:rgba($color:$solidWhite,$alpha:1);
      transition: 0.5s;
      &:hover,&:focus{
        color:rgba($color:$solidWhite,$alpha:0.5);
      }
    }
  }
  .menuClose{
    color:$solidWhite;
    font-size: 1.2rem;
    // text-align: right;
    width:100%;
  }
  .buttonContainer{
    text-align: right;
  }