//catagories
.categories {
  margin-top: 90px;
}
.categoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .itemOne{
    background-color: $quinary;
  }
  .itemTwo{
    background-color: $secondary;
  }
  .itemThree{
    background-color: $tertiary;
  }
  .itemFour{
    background-color: $quaternary;
  }
  .items{
    border-radius: 10%;
    width:40%;
    padding: 45px;
    margin: 50px 25px 25px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    img{
      border-radius:10%;
      margin-bottom: 15px;
    }
    &:hover{
      transform: scale(0.9);
    }
  }
}
//let them play 
.play {
  background-image: url(../assets/background-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  margin-top: 0;
  margin-bottom: 0;
  .wrapper {
    display:flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    .playContent{
      max-width:650px;
      padding: 70px 45px;
      border: 24px solid $secondary;
      background-color: $solidWhite;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}