// Font Family
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";
//Font sizes
$baseFontSize:1rem;

//colors
$primary: #084b6d; 
$secondary: #f4fcff; 
$tertiary: #f8fbf3; 
$quaternary: #fff5f5; 
$quinary: #ffd698; 
$solidWhite: #fff;
